.detail-room-page {
  .carousel {
    display: flex;
    justify-content: center;

    .ant-carousel {
      display: flex;
      justify-content: center;
      max-width: 1000px;
    }
  }

  @media (max-width: 1175px) {
    .carousel {
      display: block;
    }
  }
}

.div-1 {
  > h1 {
    font-size: 22px;
    color: #003c4c;
    font-weight: 900;
  }

  > p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    margin: 20px 0 40px 0;
  }

  .service {
    > span {
      font-size: 24px;
      font-weight: 900;
      color: #191919;
    }
    > ul {
      list-style: disc;
      margin-left: 20px;
      padding-left: 20px;
      li {
        color: #707070;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        display: list-item;
        font-weight: 300;
      }
    }
  }
}
.div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  .div-info-price {
    display: flex;
    flex-direction: column;
    > span {
      color: #003c4c;
      font-size: 33px;
      font-weight: 900;
      text-align: center;
      margin: 20px 0;
    }
    p {
      color: #7a7a7a;
      font-size: 12px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
.div-info-room {
  padding: 20px 40px 40px 20px;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  ul li {
    display: flex;
    color: rgba(2, 1, 1, 0.82);
    font-size: 16px;
    gap: 20px;
    align-items: center;

    svg {
      font-size: 25px;
      color: #fc9285;
    }
  }
}

.div-2 button {
  width: 150px;
  background-color: #fc9285;
  height: 35px;
  margin-bottom: 40px;
  color: #fff;
}

.div-2 button:hover {
  background-color: #f1afa6;
}
