.col-info {
  h1 {
    color: #003c4c;
    font-family: "Arial", Arial;
    font-size: 19px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.2px;
    text-align: center;
  }

  p {
    color: rgba(0, 0, 0, 0.8705882352941177);
    font-family: "Arial", Arial;
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 20px;
  }
}
