.header {
  position: relative;
  z-index: 999;
  // background-image: url("https://www.pistachiohotel.com/images/banner.jpg");
  background-color: #595959;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // padding-top: 40%;
  // background-attachment: scroll;

  .ant-carousel {
    .ant-image {
      width: 100%;
      img {
        height: 600px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .nav-list {
    position: fixed;
    top: 0;
    background-color: #b9b9b9;

    &.scrolled {
      background-color: #c4c4c4;
      z-index: 1000;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-item {
      display: inline-block;
      color: #000000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: inherit;
      letter-spacing: 0.115em;
      font-size: 14px;
      font-weight: 600;
      padding: 10px;
      transition: all 0.1s ease-out;

      &.active {
        border-bottom: 1px solid #fff;
        color: #ffffff;
        margin-bottom: 5px;
      }

      &:hover {
        color: #fcb134 !important;
      }
    }

    .nav-item:first-child {
      padding: unset;
    }
  }
}

.group-button {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}
